# Ignore everything
*

# Explicitly tell git what we actually want to track
!/.gitignore
!README.md
!Makefile
!.python-version
!*.sh
!*.java
!*.py
!*.c
!*.h
!*.dec
!*.dsc
!*.inf
!*.go
!go.mod
!go.sum
!*.md
!*/
